body {
  background-color: #f8f9fa;
  font-family: 'Vollkorn', serif;
}

.App-Name {
  padding: 10px;
  text-align: center;
  background-color: ivory;
}

.add-repo {
  display: flex;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 15px;
  padding: 2px;
  height: 1.8rem;
}

.add-repo:focus-within {
  border-color: #9ecaed;
  box-shadow: 0 0 2px #9ecaed;
}

.add-repo input {
  flex-grow: 2;
  border: none;
}

#submit-repo {
  color: white;
  font-weight: 800;
  border-radius: 2px;
  background-color: #007bff;
  max-width: 25%;
}

.add-repo input:focus {
  outline: none;
}

.repo-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  border-right: 2px solid lightgray;
}

.edit-select {
  margin: 5px 0 !important;
  width: 75% !important;
}

.edit {
  display: flex;
  justify-content: flex-end;
  margin: 5px 1rem;
}

.edit button {
  font-size: 1rem;
  width: 80px;
  height: 25px;
}

.no-repo {
  margin: 10px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .column-sm {
    width: 45%;
  }

  .edit {
    margin: 5px 2rem;
  }
}

@media only screen and (min-width: 1024px) {
  .edit {
    margin: 5px 2rem;
  }
}

/* Reset CSS Tags */

p {
  margin: 0;
}
